@import './../Variables.scss';

.cards-table {
    //background-color: #282828;
    width: 80%;
    min-width: 1070px;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top:60px;
    border: none;
    font-weight: 300;
    font-size: 0.95rem;
}

// sorted line
.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {
    box-shadow: inset 0 -3px 0 0 $white !important;
}

.ReactTable .rt-thead .rt-th.-sort-asc, .ReactTable .rt-thead .rt-td.-sort-asc {
    box-shadow: inset 0 3px 0 0 $white !important;
}

// stripes on every 2nd row
.ReactTable.-striped .rt-tr.-odd {
    background: rgba(0,0,0,0.1);
}

// lines between table headings
.ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td {
    border-right: 1px solid $background;
    border-right: none;
}

// row hover highlight
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(0, 0, 0, 0.1);
}

// header groups
.ReactTable .rt-thead.-headerGroups {
     background: none;
     border-bottom: none;
}

.ReactTable .rt-thead.-header {
    box-shadow: none;
    background: #303030;
}

// header groups top row headings
.rt-thead.-headerGroups > .rt-tr > .rt-th{
    //background: rgb(49, 49, 49);
}

// table heading
.ReactTable .rt-thead .rt-th {
    height: 48px;
    padding: 0 7px;
    line-height: 48px;
    font-weight: 400;
    font-size: 1.18rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
   //background-color: rgb(53, 53, 53);
}

//table data
.ReactTable .rt-tbody .rt-td {
    padding: 0 7px;
    height: 48px;
    line-height: 48px;
    border: none;
}

.ReactTable .rt-tbody .rt-tr-group {
    border: none;
}

// row hover highlight
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: rgba(0, 0, 0, 0.3);
}

.cards-table__card-heading {
    //text-align: left;
}

.cards-table-cell_price {
    text-align: left;
}

.cards-table__currency-icon {
    width: 30px;
    vertical-align: middle;
}

.cards-table__stack {
    //padding-left: 18px !important;
    text-align: center;
    //font-style: italic;
    font-weight: 400;
    font-size: 1.1em;
    //color: rgb(158, 158, 158);
}

.cards-table__price_stack {
    //font-style: italic;
    //color: rgb(158, 158, 158);
}

.cards-table__item {
    text-align: left;
    padding-left: 18px !important;
}

.cards-table__price {
    //text-align: left;
    //padding: 0 !important;
}

.cards-table__price_ch {
    //margin-left: 14px;
    text-align: center;
}

.ReactTable .rt-tbody .rt-td.cards-table__price_ex,
.ReactTable .rt-tbody .rt-td .cards-table__price_ex {
    //margin-right: 14px;
    text-align: center;
    //border-right: 1px solid rgba(255,255,255,0.05);
    border-right: 1px solid rgb(65, 65, 65);
}



.cards-table__ch-column {
   // margin-left: 14px;
}

.cards-table__ex-column {
 //  margin-right: 14px;
}

.cards-table__margin {
    text-align: right;
}

// .ReactTable .rt-thead .rt-th.cards-table__margin-heading {
//     padding-left: 0;
// }

.cards-table__num_negative {
    color: #ec3737;
}

.cards-table__num_positive {
    color: #5dde5d;
}

.cards-table__search-btn {
    margin-top: 7px;
    background: transparent;
    border: solid 1px grey;
    padding: 6px;
    display: block;
    height: 34px;
    width: 34px;
    position: relative;

    img {
        height:28px;
        width: 22px;
        position: absolute;
        top: 2px;
        //padding-bottom: 10px;
    }
}

.cards-table__search-btn:hover {
    background-color: #303030;
}

