@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Alegreya+Sans+SC:300,400');
@import './Variables.scss';
// try julius sans one 
html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $white;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

