$white: rgb(221, 221, 221);
$black: rgb(22, 22, 22);
$grey-medium: #303030;
$grey-light: #484848;
$gold: rgb(119, 96, 37);
$background: #252525;
$font: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
