@import './../Variables.scss';

.nav {
    height: 66px;
    background-color: $black;
    border-bottom: 1px solid $grey-light;
}

.nav__logo {
    font-family: 'Alegreya Sans SC', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-left: 20px;
    line-height: 66px;
}